<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /moviehq/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /moviehq/index.html [L]
</IfModule>
