@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
.mono45 {
  font-family: mono45-headline,"transducer-variable", sans-serif;
}

.transducer {
  font-family: "transducer-variable", Arial, sans-serif;
}

.bitcount {
  font-family: bitcount-mono-single-circle, "transducer-variable", sans-serif;
}

.ethnocentric {
  font-family: ethnocentric, sans-serif;;
}

.logo {
  font-family: ethnocentric,"transducer-variable", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
}

.nav-links {
  font-family: mono45-headline,"transducer-variable", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
}

nav {
  color: #ffffff;
}

.bannerTitles {
  font-family: bitcount-mono-single-circle, "transducer-variable", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #fffc04;
}

.bannerText {
  font-family: "transducer-variable", Arial, sans-serif;
}

.bannerDate {
  font-family: mono45-headline,"transducer-variable", sans-serif;
}

.bannerButton {
  font-family: mono45-headline,"transducer-variable", sans-serif;
  font-size: 1.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 4rem;
}

body {
  margin: 0;
  font-family: "transducer-variable", Arial, sans-serif;
  display: flex;
  min-width: 320px;
  min-height: 100vh;

  background-image: linear-gradient(to bottom, #0d0c37, #0d0c37, #000000);
  color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

